<dl>
	<dt>个人中心</dt>
	<dd class="my_info {{curMemPage curPageId 1}}"><a href="./index.html">个人资料</a></dd>
	<dd class="my_order {{curMemPage curPageId 2}}"><a href="./order.html">我的订单</a></dd>
	<dd class="my_collect {{curMemPage curPageId 3}}"><a href="./collection.html">我的收藏</a></dd>
	<dd class="my_address {{curMemPage curPageId 4}}"><a href="./address.html">收货地址</a></dd>
	<dd class="my_prescript {{curMemPage curPageId 5}}"><a href="./prescript.html">处方笺</a></dd>
	<dd class="my_register {{curMemPage curPageId 6}}"><a href="./demandRecord.html">需求登记</a></dd>
</dl>